# This is a basic workflow to help you get started with Actions

name: App-1

concurrency:
  group:  App-1-${{ github.ref }}
  cancel-in-progress: true
  
on:
  push:
    branches:
    - master
    paths:
    - chart/sample-app/**    


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:         
      
  # This workflow contains a single job called "build"
  dev:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    environment: Dev
    env:      
      CHART_VERSION: 0.0.${{ github.run_number }} 
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: 'master'
      - uses: actions/checkout@v2
        with:
          ref: 'gh-pages'
          path: 'package' 
      - name: Package
        run: |
          ls ./package
          if [ ! -f /package/sample-app-0.0.${{ github.run_number }}  ]; then
             cd master && sh package.sh sample-app ${{ env.CHART_VERSION }} ${{ github.event.head_commit.message }}
          else 
              echo "Package exists"
          fi 
  qa:
      # needs: dev
      runs-on: ubuntu-latest
      if: github.event_name == 'push'

      environment: QA
      env:      
        CHART_VERSION: 0.1.${{ github.run_number }} 
      steps:
        - uses: actions/checkout@v2
          with:
            ref: ${{ github.event.pull_request.head.sha }}
            path: 'master'     
        - uses: actions/checkout@v2
          with:
            ref: 'gh-pages'
            path: 'package' 
        - name: Package
          run: cd master && sh package.sh sample-app ${{ env.CHART_VERSION }} ${{ github.event.head_commit.message }}
  uat:
      # needs: qa
      runs-on: ubuntu-latest
      if: github.event_name == 'push'

      environment: UAT
      env:      
        CHART_VERSION: 0.2.${{ github.run_number }} 
      steps:         
        - name: Create Release
          id: create_release
          uses: actions/create-release@v1
          env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
              tag_name: ${{ github.ref }}
              release_name: Release ${{ github.ref }}
              body: |
                Changes in this Release
                - First Change
                - Second Change
              draft: true
              prerelease: false 
        - uses: actions/checkout@v2
          with:
            ref: ${{ github.event.pull_request.head.sha }}
            path: 'master'  
        - uses: actions/checkout@v2
          with:
            ref: 'gh-pages'
            path: 'package' 
        - name: Package       
          run: cd master && sh package.sh sample-app ${{ env.CHART_VERSION }} ${{ github.event.head_commit.message }}

       
              
