# This is a basic workflow to help you get started with Actions

name: App-1

on:
  push:
    branches:
    - master

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
concurrency: 
  group: ${{ github.head_ref }}
  cancel-in-progress: true


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  # This workflow contains a single job called "build"
  dev:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    environment: Dev

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Create Release
        id: create_release_pre
        uses: actions/create-release@v1
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            tag_name: ${{ github.ref }}
            release_name: Release ${{ github.ref }}
            body: |
              Changes in this Release
              - Pre              
            draft: true
            prerelease: true  
      

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo test

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.


  qa:
      needs: dev
      runs-on: ubuntu-latest
      environment: QA
      steps:
        - name: deploy        
          run: echo Hello, QA Deploy! ${{ github.sha }}

  uat:
      needs: qa
      runs-on: ubuntu-latest
      environment: UAT
      env:      
        CHART_VERSION: 0.1.${{ github.run_number }} 
      steps:
        - name: deploy        
          run: echo Hello, QA Deploy! ${{ github.sha }}
          
        - name: Create Release
          id: create_release
          uses: actions/create-release@v1
          env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
              tag_name: ${{ github.ref }}
              release_name: Release ${{ github.ref }}
              body: |
                Changes in this Release
                - First Change
                - Second Change
              draft: true
              prerelease: false 
        - uses: actions/checkout@v2
          with:
            ref: ${{ github.event.pull_request.head.sha }}
            path: 'master'  
        - uses: actions/checkout@v2
          with:
            ref: 'gh-pages'
            path: 'package' 
        - uses: azure/setup-helm@v1
        - name: version change
          run: |    
            
            cd master
            ls
            pip install ruamel.yaml                    
            python3 ./utils/update-chart-version.py ./chart/sample-app/Chart.yaml 'version' ${{ env.CHART_VERSION }}
        - name: Sync Helm Repo
          run: cd master && sh sync_repo.sh
        - name: Move package folder
          run: |
            mv master/package/* package/
            cd package
            git config user.email "random@bhge.com"
            git config user.name "weknowthe"
            git add -A
            git diff --quiet && git diff --staged --quiet || git commit -m "Update repo [SKIP CI]" -m "${{ github.event.head_commit.message }}"
            git push              
              
