# This is a basic workflow to help you get started with Actions

name: sample-app

concurrency:
  group:  ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
on:
  push:
    branches:
    - master
    paths:
    - charts/sample-app/**    


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      image_tag: 
        description: Image tag
        default: tag
  

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:         
      
  # This workflow contains a single job called "build"
  dev:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    environment: Dev
    env:      
      CHART_VERSION: 0.0.${{ github.run_number }} 
    steps:      
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: 'master'
      - uses: actions/checkout@v2
        with:
          ref: 'gh-pages'
          path: 'package' 
      - name: Package
        run: cd master && sh package.sh ${{ github.workflow }} ${{ github.event.inputs.image_tag}} ${{ env.CHART_VERSION }} "${{ github.workflow }}-${{ env.CHART_VERSION }} pushed"                  
  qa:
    needs: dev 
    runs-on: ubuntu-latest     
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    environment: QA
    env:      
      CHART_VERSION: 0.1.${{ github.run_number }} 
    steps:
      
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: 'master'     
      - uses: actions/checkout@v2
        with:
          ref: 'gh-pages'
          path: 'package' 
      - name: Package
        run: cd master && sh package.sh ${{ github.workflow }} ${{ github.event.inputs.image_tag}} ${{ env.CHART_VERSION }} "${{ github.workflow }}-${{ env.CHART_VERSION }} pushed"                  
  uat:
    needs: qa
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    environment: UAT
    env:      
      CHART_VERSION: 0.2.${{ github.run_number }} 
    steps:         
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            tag_name: ${{ github.workflow }}-${{ env.CHART_VERSION }}
            release_name: ${{ github.workflow }}-${{ env.CHART_VERSION }}
            body: |
              This is open source software for web serving, reverse proxying, caching, load balancing, media streaming, and more
            draft: false
            prerelease: false 
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: 'master'  
      - uses: actions/checkout@v2
        with:
          ref: 'gh-pages'
          path: 'package' 
      - name: Package       
        run: cd master && sh package.sh ${{ github.workflow }} ${{ github.event.inputs.image_tag}} ${{ env.CHART_VERSION }} "${{ github.workflow }}-${{ env.CHART_VERSION }} pushed"                  

       
              
