name: Sync Helm Repo
on:
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    env:      
      CHART_VERSION: 0.1.${{ github.run_number }}  
    steps:
      - uses: actions/checkout@v2 
      # - name: Install Helm
      #   uses: azure/setup-helm@v1
      #   with:
      #     version: v3.4.0

      # - name: Lint Chart
      #   run: helm lint ./chart/sample-app/


      - uses: actions/checkout@v2
        with:
          ref: 'gh-pages'
          path: 'package' 
      - uses: actions/checkout@v2
        with:
          ref: 'master'
          path: 'master'  
      - uses: azure/setup-helm@v1
      - name: version change
        run: |    
          cd master
          pip install ruamel.yaml                    
          python3 ./utils/update-chart-version.py ./chart/sample-app/Chart.yaml 'version' ${{ env.CHART_VERSION }}
      - name: Sync Helm Repo
        run: cd master && sh sync_repo.sh
      - name: Move package folder
        run: |
          mv master/package/* package/
          cd package
          git config user.email "random@bhge.com"
          git config user.name "weknowthe"
          git add -A
          git diff --quiet && git diff --staged --quiet || git commit -m "Update repo [SKIP CI]" -m "${{ github.event.head_commit.message }}"
          git push
